@charset "UTF-8";
.banner {
  width: 100%;
  height: 309px;
}

.banner img {
  display: block;
  width: 100%;
  height: 100%;
}

.base-situation-img {
  display: flex;
  justify-content: space-between;
}

.base-situation-img-left {
  width: 470px;
  height: 400px;
}

.base-situation-img-left div h1 {
  font-size: 24px;
  margin-top: 58px;
  width: 447px;
  text-align-last: justify;
  text-align: justify;
}

.base-situation-img-left div h3 {
  font-size: 16px;
  font-family: 微软雅黑;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 30px;
}

.base-situation-img-left div p {
  font-size: 19px;
  margin-top: 24px;
  line-height: 30px;
  width: 447px;
  text-align: justify;
}

.base-situation-img-left hr {
  height: 1px;
  color: #333;
  background-color: #333;
  margin: 10px 0;
  border-top: none;
}

.base-situation-img-right {
  width: 649px;
  height: 351px;
  margin-left: 56px;
  display: flex;
  justify-content: space-between;
}

.base-situation-img-right img {
  border: 0;
  box-shadow: 0 6px 10px #aaa;
}

.base-situation-img-right img:nth-child(1) {
  width: 258px;
  height: 351px;
}

.base-situation-img-right img:nth-child(2) {
  width: 351px;
  height: 351px;
}

.enviroment-show {
  background-color: #1D71B7;
}

.enviroment-show-intro h4 {
  color: #fff !important;
}

.enviroment-show-intro p {
  text-align: center;
  width: 960px;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  line-height: 26px;
  margin-top: 30px !important;
}

.enviroment-show-img {
  width: 1000px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.enviroment-show-img-item {
  position: relative;
  width: 50%;
  height: 209px;
}

.enviroment-show-img-item:hover img {
  opacity: 1;
}

.enviroment-show-img-item:hover span {
  background: rgba(255, 255, 255, 0.8);
}

.enviroment-show-img-item:hover span h3,
.enviroment-show-img-item:hover span h4 {
  color: #FFA500 !important;
}

.enviroment-show-img-item span {
  display: block;
  position: absolute;
  top: 59px;
  left: 140px;
  width: 219px;
  height: 89px;
  text-align: center;
  z-index: 99;
}

.enviroment-show-img-item span h3 {
  color: #fff;
  margin: 5px 0 0 0;
  font-weight: bold;
  font-size: 16px;
  padding-top: 17px;
}

.enviroment-show-img-item span h4 {
  color: white;
  margin: 0px;
  font-weight: bold;
  font-size: 16px;
  padding-top: 8px;
}

.enviroment-show-img-item img {
  display: block;
  width: 100%;
  height: 100%;
  opacity: .3;
}

.one-garden-intro p {
  text-align: center;
  width: 960px;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  line-height: 26px;
  margin-top: 30px !important;
  color: #333 !important;
}

.one-garden-img {
  position: relative;
  width: 100%;
  height: 521px;
  padding-top: 57px;
}

.one-garden-img .img-left {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.one-garden-img .img-left-top, .one-garden-img .img-left-bottom {
  box-shadow: 0px 3px 10px #aaa;
  border-radius: 10px;
  width: 349px;
  height: 209px;
  position: relative;
  transform-style: preserve-3d;
  transition: all .7s;
}

.one-garden-img .img-left-top:hover, .one-garden-img .img-left-bottom:hover {
  transform: rotateX(180deg);
}

.one-garden-img .img-left-top .front, .one-garden-img .img-left-bottom .front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.one-garden-img .img-left-top .front span, .one-garden-img .img-left-bottom .front span {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 9px;
  left: 17px;
  text-align: center;
}

.one-garden-img .img-left-top .front span h5, .one-garden-img .img-left-bottom .front span h5 {
  font-size: 20px;
  margin-top: 8px;
  padding-bottom: 15px;
  color: #fff;
}

.one-garden-img .img-left-top .behind, .one-garden-img .img-left-bottom .behind {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotateX(180deg);
}

.one-garden-img .img-left-top .behind span, .one-garden-img .img-left-bottom .behind span {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 9px;
  left: 17px;
}

.one-garden-img .img-left-top .behind span h5, .one-garden-img .img-left-bottom .behind span h5 {
  text-align: center;
  font-size: 20px;
  margin-top: 8px;
  padding-bottom: 15px;
  color: #fff;
}

.one-garden-img .img-left-top .behind span p, .one-garden-img .img-left-bottom .behind span p {
  width: 304px;
  text-indent: 2rem;
  color: #fff;
  font-size: 15px;
  line-height: 24px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  width: 304px;
}

.one-garden-img .img-left-bottom {
  margin-top: 50px;
}

.one-garden-img .img-right {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.one-garden-img .img-right-top, .one-garden-img .img-right-bottom {
  box-shadow: 0px 3px 10px #aaa;
  border-radius: 10px;
  width: 349px;
  height: 209px;
  position: relative;
  transform-style: preserve-3d;
  transition: all .7s;
}

.one-garden-img .img-right-top:hover, .one-garden-img .img-right-bottom:hover {
  transform: rotateX(180deg);
}

.one-garden-img .img-right-top .front, .one-garden-img .img-right-bottom .front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.one-garden-img .img-right-top .front span, .one-garden-img .img-right-bottom .front span {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 9px;
  left: 17px;
  text-align: center;
}

.one-garden-img .img-right-top .front span h5, .one-garden-img .img-right-bottom .front span h5 {
  font-size: 20px;
  margin-top: 8px;
  padding-bottom: 15px;
  color: #fff;
}

.one-garden-img .img-right-top .behind, .one-garden-img .img-right-bottom .behind {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotateX(180deg);
}

.one-garden-img .img-right-top .behind span, .one-garden-img .img-right-bottom .behind span {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 9px;
  left: 17px;
}

.one-garden-img .img-right-top .behind span h5, .one-garden-img .img-right-bottom .behind span h5 {
  text-align: center;
  font-size: 20px;
  margin-top: 8px;
  padding-bottom: 15px;
  color: #fff;
}

.one-garden-img .img-right-top .behind span p, .one-garden-img .img-right-bottom .behind span p {
  width: 304px;
  text-indent: 2rem;
  color: #fff;
  font-size: 15px;
  line-height: 24px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  width: 304px;
}

.one-garden-img .img-right-bottom {
  margin-top: 50px;
}

.one-garden-img .zhongguancun {
  width: 46%;
  margin: 10px auto 0;
  display: flex;
  flex-direction: column;
}

.one-garden-img .zhongguancun .binhai {
  width: 250px;
  height: 50px;
  line-height: 50px;
  background: #1D71B7;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin: auto;
  text-align: center;
  margin-top: -5px;
}

.one-garden-img .zhongguancun .jinjing {
  color: #333333;
  width: 305px;
  margin: auto;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  padding-top: 4px;
}

.service-platform {
  width: 100%;
  background: url(../images/ea4261042342001f.jpg) no-repeat;
  background-size: cover;
}

.service-platform .service-platform-intro h4 {
  color: #333;
}

.service-platform .service-platform-intro p {
  text-align: center;
  width: 960px;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  line-height: 26px;
  margin-top: 30px !important;
  color: #333;
}

.service-platform .service-platform-img {
  display: flex;
  justify-content: center;
}

.service-platform .service-platform-img figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 250px;
  cursor: pointer;
  margin-bottom: 0;
}

.service-platform .service-platform-img figure:hover .img2 {
  display: block;
}

.service-platform .service-platform-img figure:hover .img1 {
  display: none;
}

.service-platform .service-platform-img figure:hover span {
  color: #F08300;
}

.service-platform .service-platform-img figure div {
  position: relative;
  width: 92px;
  height: 92px;
}

.service-platform .service-platform-img figure div img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.service-platform .service-platform-img figure div .img2 {
  display: none;
}

.service-platform .service-platform-img figure span {
  margin-top: 15px;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}
