@charset "utf-8";
$color-white:#fff;

// 混合定义
@mixin flex-spacebetween {
    display: flex;
    justify-content: space-between;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

.ds-inner {
    width: 1100px;
    margin: auto;
}

// 场地服务
.site-service {
    height: 600px;
    background: url(../images/87a3127f80f873ea.png);
    background-size: 100% 100%;

    &-box {
        display: flex;
        padding-top: 150px;
        height: 450px;

        &-left {
            width: 45%;

            &-border {
                position: relative;
                margin-top: 20px;
                width: 444px;
                height: 261.61px;
                border: 2px solid #f08300;

                img {
                    display: block;
                    position: absolute;
                    top: -20px;
                    left: 20px;
                    width: 440px;
                    height: 256.61px;
                }
            }
        }

        &-right {
            width: 55%;
            height: 300px;
            @include flex-column;

            .site-service-title {
                display: flex;
                width: 290px;
                height: 90px;
                margin-top: 15px;

                p {
                    width: 63px;
                    height: 69px;
                    line-height: 69px;
                    font-size: 60px;
                    font-weight: bold;
                    text-align: center;
                    color: #F08300;
                    font-family: 'Times New Roman';
                }

                .site {
                    h3 {
                        margin: 10px 10px 0 0;
                        color: $color-white;
                        font-weight: bold;
                        font-size: 20px;
                    }

                    span {
                        display: flex;

                        i {
                            width: 44px;
                            height: 2px;
                            background-color: #F08300;
                            margin-top: 15px
                        }

                        em {
                            display: block;
                            height: 16px;
                            color: $color-white;
                            font-size: 14px;
                            line-height: 30px;
                            font-style: normal;
                        }
                    }
                }

            }

            .site-service-article {
                color: $color-white;
                margin-left: 8px;
                font-size: 17px;
                line-height: 30px;
                text-align: justify;

            }
        }
    }

}

// 申报服务
.declaration-service {
    height: 300px;
    opacity: 0.8;
    background: white;

    // background-color: pink;
    &-box {
        display: flex;

        .declaration-service-box-left {
            padding-top: 23px;

            h3,
            em,
            .site-service-article {
                color: #000 !important;
            }

            .site-service-article {
                text-indent: 1rem;
            }
        }

        .declaration-service-box-right {
            position: relative;

            .site-service-box-left-border {
                position: absolute;
                left: 57px;

                img {
                    position: absolute;
                    left: -20px;
                    top: 20px;
                }
            }

        }
    }
}

// 技术服务 
.technical-service {
    background: url(../images/3061326449cfee39.png);
    background-size: 100% 100%;
    opacity: 0.8;
    padding-top: 100px;
    height: 700px;

    .site-service-box-right {
        padding-top: 23px;

        h3,
        em,
        .site-service-article {
            color: #000 !important;
        }

    }
}

//  孵化服务
.incubation-service {
    opacity: 0.8;
    background: white;

    .site-service-article {
        text-indent: 0 !important;
    }
}

//  人才服务
.talent-service {
    background: url(../images/d89b69d4fd93c112.png);
    background-size: 100% 100%;
    opacity: 0.8;
    padding-top: 100px;
    height: 600px;

    .site-service-box-right {
        padding-top: 23px;

        h3,
        em,
        .site-service-article {
            color: #000 !important;
        }

    }
}