@charset "UTF-8";
.carousel {
  width: 100%;
  height: 456px;
}

.carousel-inner {
  width: 100%;
  height: 100%;
}

.carousel-inner img {
  width: 100%;
  height: 456px;
}

.carousel .carousel-indicators {
  bottom: 8px !important;
}

.carousel .carousel-indicators .active {
  background-color: #F08300;
}

.carousel .carousel-indicators li {
  width: 40px;
  height: 10px;
  margin: 0 6px;
  border-radius: 10px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.base-area-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 45px;
  margin-bottom: 37px;
}

@media screen and (max-width: 1126px) {
  .base-area-intro .h3-title-syb {
    width: 586px !important;
    text-align: center;
  }
}

.base-area-intro .h3-title {
  word-spacing: 20px;
  color: #FFA500;
  font-weight: bold;
  font-size: 55px;
  font-family: Arial;
  padding-bottom: 7px;
}

.base-area-intro .h4-title {
  font-family: Microsoft YaHei;
  color: #979797;
  font-size: 40px;
}

.base-area-intro p {
  width: 1110px;
  text-align: center;
  letter-spacing: 0.21px;
  font-size: 24px;
  color: #333;
  margin: 0 auto;
  line-height: 38px;
  margin-top: 33px;
}

.base-area-intro button {
  width: 230px;
  height: 40px;
  background: #1D71B7;
  border: none;
  color: #fff;
  margin-top: 24px;
  margin-bottom: 2px;
  border-radius: 5px;
  font-size: 18px;
}

.base-area-img {
  display: flex;
  justify-content: space-between;
}

.base-area-img img {
  width: 369.67px;
  height: 276.03px;
}

.syb-area {
  background-color: #EFEDF4;
  margin-top: 49px;
  padding-bottom: 45px;
}

.syb-area-img {
  display: flex;
  justify-content: space-between;
}

.syb-area-img figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 0;
}

.syb-area-img figure h3 {
  font-weight: bold;
  margin-top: 19px;
  margin-bottom: 10px;
  color: #333;
  font-size: 18px;
}

.syb-area-img figure p {
  width: 216px;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
}

.syb-area-img figure img {
  width: 74px;
  height: 74px;
}

.globle-area-img {
  width: 100%;
  height: 680px;
}

.globle-area-img .canver {
  height: 600px;
  background-color: pink;
}

.digtal {
  width: 100%;
  height: 260px;
  background: url(../images/js-1.jpg);
}

.digtal-inner {
  width: 960px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.digtal-inner figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.digtal-inner figure img {
  width: 70px;
  height: 74px;
}

.digtal-inner figure p {
  font-size: 18px;
  line-height: 30px;
  color: white;
  margin: 5px 0 10px 0;
}

.digtal-inner figure h3 {
  font-weight: bold;
  font-size: 38px;
  color: white;
}

.base-inquire {
  background-color: #EFEDF4;
}

.base-inquire a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.base-inquire-img {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.base-inquire-img-left {
  position: relative;
  width: 580px;
  height: 365px;
}

.base-inquire-img-left img {
  width: 100%;
  height: 100%;
}

.base-inquire-img-left p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #1D71B7;
  text-align: center;
  color: #fff;
  font-size: 16px;
}

.base-inquire-img-right {
  width: 582px;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.base-inquire-img-right .alerm {
  display: flex;
  font-size: 16px;
  margin-top: 10px;
}

.base-inquire-img-right .alerm i {
  width: 18px;
  height: 18px;
  margin-right: 5px;
  background: url(../images/alerm.png);
}

.base-inquire-img-right a {
  width: 100%;
}

.base-inquire-img-right a .p1 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
}

.base-inquire-img-right a .p3 {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 24px;
}

.base-inquire-img-right hr {
  margin: 10px 0;
  height: 1px;
  background-color: #bbb;
}

.base-inquire-img-right .survey {
  display: flex;
  justify-content: space-between;
}

.base-inquire-img-right .survey-left {
  width: 75%;
}

.base-inquire-img-right .survey-left p {
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 25px;
  line-height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.base-inquire-img-right .survey-right .alerm {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 25px;
  height: 21px;
  line-height: 21px;
  color: #333333;
}

.activity-News-img {
  display: flex;
  justify-content: space-between;
}

.activity-News-img-item {
  width: 370px;
  height: auto;
  border: 1px solid #aaa;
  position: relative;
  overflow: hidden;
  transition: all .8s;
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(200px, 0);
  }
}

.activity-News-img-item:hover {
  margin-top: -20px;
}

.activity-News-img-item:hover .item-img img {
  transform: scale(1.1);
}

.activity-News-img-item:hover .baseline::before {
  animation-name: move;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.activity-News-img-item:hover .detail {
  color: #1d71b7;
}

.activity-News-img-item .item-img {
  width: 100%;
  height: 233.4px;
  overflow: hidden;
}

.activity-News-img-item .item-img img {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 3s;
}

.activity-News-img-item .p-date {
  margin-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 30px;
  font-size: 16px !important;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #999999;
}

.activity-News-img-item > span {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  display: inline-block;
  margin-top: 7px;
  padding: 0 20px;
  line-height: 28px;
  height: 50px;
}

.activity-News-img-item .num-th-text {
  color: #333;
  margin-top: 20px;
  padding: 0px 20px;
  height: 53px;
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.activity-News-img-item div {
  display: flex;
  justify-content: space-between;
}

.activity-News-img-item div .baseline {
  display: inline-block;
  height: 2px;
  width: 226px;
  background-color: #999999;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  position: relative;
  overflow: hidden;
}

.activity-News-img-item div .baseline::before {
  position: absolute;
  top: 0;
  left: -200px;
  content: "";
  width: 200px;
  height: 2px;
  background-color: #1D71B7;
  transition: all 10s;
}

.activity-News-img-item div .detail {
  width: 107px;
  height: 61px;
  padding: 20px 23px 20px 20px;
  box-sizing: border-box;
  font-size: 16px;
  color: #333;
}

.achievement-show {
  margin-top: 80px;
  padding-bottom: 28px;
  background-color: #EFEDF4;
}

.achievement-show-img {
  display: flex;
  justify-content: space-between;
  padding-bottom: 43px;
}

.achievement-show-img-item {
  position: relative;
  width: 380px;
  height: 255px;
}

.achievement-show-img-item:hover p {
  background: rgba(240, 131, 0, 0.8);
}

.achievement-show-img-item img {
  display: block;
  width: 100%;
  height: 100%;
}

.achievement-show-img-item p {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 270px;
  height: 50px;
  background: rgba(29, 115, 185, 0.8);
  text-align: right;
}

.achievement-show-img-item p span {
  color: #fff;
  line-height: 50px;
  font-size: 24px;
  margin-right: 15px;
}

.cooperative-brand {
  background-color: #C9DCEB;
  padding-bottom: 2px;
}

.cooperative-brand .brand-carousel {
  position: relative;
  width: 1200px;
  height: 530px;
  overflow: hidden;
}

.cooperative-brand .brand-carousel .arrow-l {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background: url(../images/箭头左.png);
  background-size: 100% 100%;
  z-index: 99;
}

.cooperative-brand .brand-carousel .arrow-r {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background: url(../images/箭头右.png);
  background-size: 100% 100%;
  z-index: 99;
}

.cooperative-brand .brand-carousel ul {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 200%;
  height: 100%;
}

.cooperative-brand .brand-carousel ul li {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 530px;
}

.cooperative-brand .brand-carousel ul li .brand-logo {
  display: flex;
  justify-content: center;
  height: 182px;
  position: relative;
}

.cooperative-brand .brand-carousel ul li .brand-logo a {
  position: relative;
}

.cooperative-brand .brand-carousel ul li .brand-logo a:hover .logo-block {
  display: block;
}

.cooperative-brand .brand-carousel ul li .brand-logo a img {
  display: block;
  width: 165px;
  height: 182px;
}

.cooperative-brand .brand-carousel ul li .brand-logo a .logo-block {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/bg.png);
  background-size: 100% 100%;
  width: 165px;
  height: 182px;
}

.cooperative-brand .brand-carousel ul li .brand-logo-top {
  position: absolute;
  top: 40px;
  display: flex;
  justify-content: center;
}

.cooperative-brand .brand-carousel ul li .brand-logo-bottom {
  position: absolute;
  bottom: 40px;
  display: flex;
  justify-content: center;
}
